@import "tailwindcss";

@theme {
  --color-primary: #57ff57;
  --color-background-dark: #121212;
  --color-obsidian: #1E1E1E;
  --color-obsidian-light: #2A2A2A;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer components {
  .glass-panel {
    @apply bg-obsidian-light/40 backdrop-blur-xl border border-white/10;
  }
  
  .glass-sidebar {
    @apply bg-background-dark/95 backdrop-blur-2xl border-r border-white/5;
  }
  
  .glass-footer {
    @apply bg-background-dark/95 backdrop-blur-2xl border-t border-white/5;
  }
  
  .glass-card {
    @apply bg-white/5 border border-white/5 backdrop-blur-md;
  }

  .neon-glow {
    @apply shadow-[0_0_15px_rgba(87,255,87,0.3)];
  }

  .active-glow {
    @apply shadow-[0_0_15px_rgba(87,255,87,0.15)] border-primary/40;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
